__pycache__/
*.py[cod]
*.pyc
*~
*#
*egg-info
datasets
data_real
NoteBooks
network
visualization
docs/source/api
docs/build
docs/source/api
build
dist
*.ipynb_checkpoints*
test.py
.vscode
*.ipynb
*jss_data.csv
.idea
*.csv
fcmpy/ML/data
html